/* Toolbar icons */
.wll-EsaupIcon {
    background-color: var(--jp-inverse-layout-color3);
    -webkit-mask-image: url(./esaup.svg);
    mask-image: url(./esaup.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
}
